body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(66, 69, 71);
  padding: 2rem;
  margin: 0;
}

h1,
.wrapper {
  display: flex;
  color: white;
  background-color: rgb(86, 90, 94);
  border-radius: 0.65em;
  padding: 2em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p {
  font-size: 1.5em;
}
